* {
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 100vh;
  width: 100%;
  background-image: url(../landscape-78058_1920.jpg);
  background-size: cover;
  background-position: center;
}

div#root {
  height: 100vh;
  width: 100%;
}

h1 {
  height: 20vh;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 10px;
  color: #44A5FF;
  text-shadow: -4px 4px 12px black;
  font-style: oblique;
}

.area {
  height: 60vh;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto 10px;
  background-color: rgba(61, 148, 229, 0.5);
  border-radius: 25px;
  color: #ddd;
}

.area h2 {
  letter-spacing: 2px;
  font-size: 2rem;
  text-shadow: -2px 2px 8px black;
  text-align: center;
}

.area p {
  font-size: 1rem;
  padding: 20px;
  text-align: center;
  line-height: 1.5rem;
}

.area button {
  position: relative;
  width: 25%;
  height: 15%;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #ddd;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#154470), to(#67aff3));
  background-image: linear-gradient(0deg, #154470, #67aff3);
  border: 2px solid #112940;
  -webkit-box-shadow: 0 0 10px 0 #22527F;
          box-shadow: 0 0 10px 0 #22527F;
  cursor: pointer;
  outline: none;
}

.formArea {
  height: 60vh;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px auto 10px;
  background-color: rgba(61, 148, 229, 0.5);
  border-radius: 25px;
  color: #ddd;
}

.formArea p {
  font-size: 1rem;
  padding: 20px 20px 0;
  text-align: center;
  line-height: 1.5rem;
}

.formArea input#date {
  background-color: #ddd;
}

.formArea form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

.formArea form input {
  width: 13%;
  margin-bottom: 20px;
  background-color: #ddd;
  text-align: center;
}

.formArea button {
  position: relative;
  width: 25%;
  height: 15%;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #ddd;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#154470), to(#67aff3));
  background-image: linear-gradient(0deg, #154470, #67aff3);
  border: 2px solid #112940;
  -webkit-box-shadow: 0 0 10px 0 #22527F;
          box-shadow: 0 0 10px 0 #22527F;
  cursor: pointer;
  outline: none;
}

footer {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer P {
  width: 100%;
  height: auto;
  padding: 2px 0;
  color: #bdbdbd;
  font-size: .8rem;
  font-style: italic;
  text-align: center;
  background-color: rgba(61, 148, 229, 0.5);
  text-transform: uppercase;
  letter-spacing: 4px;
}
/*# sourceMappingURL=style.css.map */