* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(./images/landscape-78058_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.main {
    height: 100vh;
    width: 100%;
}

h2 {
    height: 20vh;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 20px;
    color: rgb(66, 160, 248);
    text-shadow: -4px 4px 12px black;
    font-style: oblique;
    align-self: flex-start;
}

.area {
    height: 60vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto 10px;
    background-color: rgba(61, 148, 229, 0.5);
    border-radius: 25px;
    color: #ddd;
}

.area h1 {
    letter-spacing: 2px;
    font-size: 2.2rem;
    text-shadow: -2px 2px 8px black;
    text-align: center;
}

.area p {
    font-size: 1.1rem;
    padding: 15px 30px 10px;
    text-align: center;
    line-height: 1.5rem;
    text-shadow: 0px 0px 5px black;
}

.area button, .formArea button {
    position: relative;
    width: 25%;
    height: 15%;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #ddd;
    background-image: linear-gradient(0deg, #154470, #67aff3);
    border: 2px solid #112940;
    box-shadow: 0 0 10px 0 #22527F;
    cursor: pointer;
    outline: none;
    transition: .3s;
    text-shadow: 0px 0px 7px black;
}

.area button:hover, .formArea button:hover {
    font-size: 1.8rem;
    box-shadow: 0 0 10px 0 white;
}

.area button.focus, .formArea button.focus, .outcome button.focus {
    border: 2px solid #ddd;
}

.area input {
   height: 10%;
   width: 24%;
   margin: 20px 0;
   color: rgb(23, 75, 124);
   font-size: 1.2rem;
   letter-spacing: .5px;
   text-transform: uppercase;
   text-align: center;
   background-color: #ddd;
   border-width: 5px;
   border-style: ridge;
   border-color: #3e7eb9;
   box-shadow: 0px 0px 5px black;
   border-radius: 15px;
}

.area input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.formArea {
    height: 60vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto 10px;
    background-color: rgba(61, 148, 229, 0.5);
    border-radius: 25px;
    color: #ddd;
}
  
.formArea p {
    font-size: 1rem;
    padding: 10px 20px 0;
    text-align: center;
    line-height: 1.5rem;
    text-shadow: 0px 0px 5px black;
}

.formArea form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
}

.formArea form input {
    width: 13%;
    margin-bottom: 20px;
    background-color: #ddd;
    text-align: center;
}

.formArea form input:first-of-type {
    background-color: #aaa;
}

.outcome {
    height: 60vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto 10px;
    background-color: rgba(61, 148, 229, 0.5);
    border-radius: 25px;
    color: #ddd;
}

.outcome p {
    font-size: 1rem;
    padding: 10px 20px 0;
    text-align: center;
    line-height: 1.5rem;
    text-shadow: 0px 0px 5px black;
}

.outcome .color  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 45%;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 25px;
}


.outcome .color p {
    color: #42A0F8;
    text-shadow: 2px 2px 5px black;
    font-size: 3rem;
    padding: 20px;
    font-style: oblique;
}

.outcome .color .outcomeText {
    color: #ddd;
    font-size: 1rem;
    padding: 10px 20px 0;
    text-align: center;
}

.outcome .color.red {
    background-color: rgba(255,0,0, .8);
}

.outcome .color.yellow {
    background-color: rgba(255,255,0, .8);
}

.outcome .color.green {
    background-color: rgba(0,255,0, .8);
}

.desc {
    height: 80%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65%;
    width: 100%;
    background-color: rgba(49, 103, 150, 0.8);
    border-radius: 25px;
}

.top p {
    padding: 0 10px;
}

.top .motto {
    padding: 25px 0 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-shadow: 0px 0px 7px black;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: rgba(49, 103, 150, 0.8);
    border-radius: 25px;
}

.bottom button {
    width: 45%;
    height: 57%;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #ddd;
    background-image: linear-gradient(0deg, #154470, #67aff3);
    border: 2px solid #112940;
    box-shadow: 0 0 10px 0 #22527F;
    cursor: pointer;
    outline: none;
    transition: .3s;
    text-shadow: 0px 0px 7px black;
}

.bottom button:hover {
    font-size: 1.1rem;
    box-shadow: 0 0 10px 0 white;
}

footer {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
}
  
footer a {
    width: 100%;
    height: auto;
    padding: 2px 0;
    color: #bdbdbd;
    text-decoration: none;
    font-size: .8rem;
    font-style: italic;
    text-align: center;
    background-color: rgba(61, 148, 229, 0.5);
    text-transform: uppercase;
    letter-spacing: 4px;
}

@media (max-width: 1370px) {
    .area {
        height: 65vh;
    }
    .area input {
        margin: 10px 10px;
        height: 9%;
     }
    .area button, .formArea button {
        height: 11%;
    }
    .area p {
        padding: 40px 20px;
    }
    .formArea p {
        font-size: 1.5rem;
        line-height: 1.3;
    }
    .formArea form {
        padding: 20px;
    }
    .formArea form input {
        height: 18%;
        width: 13%;
    }
    .bottom button {
        width: 45%;
        height: 78%;
        font-size: .9rem;
    }
}

@media (max-width: 1180px) {
    .area h1 {
        font-size: 1.8rem;
    }
    .area p {
        font-size: 1rem;
    }
    .area input {
        margin: 10px 10px;
        width: 27%;
        height: 9%;
     }
     .area button, .formArea button {
        width: 28%;
    }
    .outcome p {
        font-size: 1rem;
        padding: 5px 10px 5px;
    }
    .outcome .color p {
        font-size: 2.5rem;
    }
    .outcome .color .outcomeText {
        font-size: 1.1rem;
        padding: 10px;
    }
    .top .motto {
        padding: 10px 5px;
        font-size: 1.4rem;
    }
    .bottom {
        flex-direction: row;
    }
    .bottom button {
        width: 45%;
        height: 78%;
        font-size: 1rem;
    }
    .bottom button:hover {
        font-size: 1.2rem;
    }
}

@media (max-width: 1080px) {
    .area {
        width: 75%;
    }
    .area h1 {
        font-size: 2rem;
        padding-bottom: 30px;
    }
    .area p {
        font-size: 1.2rem;
        padding: 5px;
    }
    .area input {
        width: 27%;
        height: 8%;
     }
     .area button, .formArea button {
       height: 10%;
    }
    .formArea {
        height: 65vh;
        width: 80%;
    }
    .formArea p {
        padding: 10px;
        line-height: 1.6;
        font-size: 1.2rem;
    }
    .formArea form {
        padding: 20px;
    }
    .formArea form input {
        height: 20%;
        width: 13%;
    }
    .formArea button {
        width: 40%;
    }
    .formArea button:hover {
        font-size: 2.2rem;
    }
    .outcome {
        height: 65vh;
        width: 95%;
        margin-top: 0;
    }
    .outcome p {
        font-size: 1rem;
        line-height: 1.4;
    }
    .outcome .color p {
        font-size: 3.6rem;
        padding: 0;
    }
    .outcome .color .outcomeText {
        font-size: 1.2rem;
        padding: 10px 20px 0;
    }
    .top p {
        padding: 10px;
    }
    .top .motto {
        padding: 10px;
        font-size: 2rem;
    }
    .bottom {
        flex-direction: column;
    }
    .bottom button {
        width: 90%;
        height: 40%;
        border-radius: 15px;
        font-size: 1.4rem;
        line-height: 1.3;
    }
    .bottom button:hover {
        font-size: 1.5rem;
    }
    footer a {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 4.7rem;
    }
    .area {
        width: 80%;
        background-color: transparent;
    }
    .area h1 {
        padding-bottom: 30px;
    }
    .area p {
        font-size: 1rem;
        padding-bottom: 20px;
    }
    .area input {
        height: 8%;
    }
    .area button {
        margin-top: 10px;
        height: 9%;
    }
    .formArea {
        height: 65vh;
        width: 90%;
        background-color: transparent;
    }
    .formArea p {
        padding: 5px;
        line-height: 1.6;
        font-size: 1.4rem;
    }
    .formArea form {
        padding: 0;
    }
    .formArea form input {
        height: 23%;
        width: 13%;
    }
    .formArea button {
        width: 40%;
    }
    .formArea button:hover {
        font-size: 2rem;
    }
    .outcome {
        margin-top: 0;
        background-color: transparent;
    }
    .outcome p {
        font-size: 1.2rem;
    }
    .outcome .color p {
        font-size: 2.8rem;
    }
    .outcome .color .outcomeText {
        font-size: 1.4rem;
        padding: 10px 5px 0;
    }
    .top p {
        padding: 10px;
    }
    .top .motto {
        padding: 10px;
        font-size: 1.3rem;
    }
    .bottom button {
        height: 43%;
        font-size: 1.2rem;
    }
    .bottom button:hover {
        font-size: 1.3rem;
    }
}

@media (max-width: 740px) {
    h2 {
        font-size: 4rem;
        height: 15vh;
    }
    .area {
        width: 90%;
        height: 70vh;
    }

    .area input {
        font-size: .9rem;
    }
    .formArea p {
        font-size: 1rem;
    }
    .formArea form input {
        height: 18%;
    }
    .outcome p {
        font-size: .8rem;
        padding: 10px;
    }
    .outcome .color p {
        font-size: 2rem;
        padding: 0;
    }
    .outcome .color .outcomeText {
        font-size: 1rem;
        padding: 10px 5px 0;
    }
    .top .motto {
        padding: 5px 0 0;
        font-size: 1.3rem;
    }
    .bottom button {
        font-size: 1rem;
    }
    .bottom button:hover {
        font-size: 1.1rem;
    }
}


@media (max-width: 630px) {
    body {
        background-position: 60% 0%;
    }
    h2 {
        font-size: 3.7rem;
    }
    .formArea {
        height: 70vh;
    }
    .formArea p {
        font-size: 1.2rem;
    }
    .formArea form input {
        height: 20%;
    }
    .area h1 {
        font-size: 1.5rem;
    }
    .area button, .formArea button {
        font-size: 1.2rem;
    }
    .area button:hover {
        font-size: 1.4rem;
    }
    .outcome p {
        font-size: .8rem;
        padding: 0 3px;
    }
    .outcome .color p {
        font-size: 2.2rem;
    }
    .outcome .color .outcomeText {
        font-size: 1rem;
        padding: 10px 5px 0;
    }
    .top .motto {
        padding: 5px 0 0;
        font-size: 1.2rem;
    }
    .bottom button {
        font-size: .9rem;
    }
    .bottom button:hover {
        font-size: 1rem;
    }
    footer a {
        font-size: .8rem;
    }
}

@media (max-width: 570px) {
    h2 {
        font-size: 3rem;;
    }
    .area h1 {
        font-size: 1.3rem;
    }
    .area input {
        height: 6%;
        font-size: .8rem;
    }

    .area button, .formArea button {
        height: 10%;
        font-size: 1rem;
    }
    .area button:hover, .formArea button:hover {
        font-size: 1.2rem;
    }
}

@media (max-width: 420px) {
    body {
        background-position: 60% 0%;
    }
    h2 {
        padding-top: 10px;
        height: 10vh;
        font-size: 2.3rem;
    }
    .area {
        height: 75vh;
        background-color: transparent;
        padding-bottom: 40px;
    }
    .formArea {
        height: 75vh;
    }
    .formArea p {
        font-size: .7rem;
    }
    .formArea form input {
        height: 15%;
        width: 13%;
    }
    .area h1 {
        font-size: 1.4rem;
        padding-bottom: 5px;
    }
    .area p {
        font-size: .8rem;
        line-height: 1.5;
        padding: 30px 10px 10px;
    }
    .area input {
        height: 8%;
        width: 44%;
        margin-bottom: 10px;
    }
    .area button, .formArea button {
        width: 45%;
        height: 9%;
    }
    .outcome {
        height: 75vh;
    }
    .outcome p {
        font-size: .7rem;
    }
    .outcome .color p {
        font-size: 1.7rem;
    }
    .outcome .color .outcomeText {
        font-size: .8rem;
    }
    .top .motto {
        font-size: 1rem;
    }
    .bottom button {
        font-size: .8rem;
    }
    .bottom button:hover {
        font-size: .9rem;
    }
    footer {
        height: 3vh;
    }
}

@media (max-width: 370px) {
    h2 {
        height: 7vh;
        font-size: 1.7rem;
    }
    .area {
        height: 75vh;
    }
    .area h1 {
        font-size: .9rem;
        padding: 0 10px 10px;
    }
    .area p {
        font-size: .6rem;
        line-height: 1.8;
        padding: 10px 10px;
    }
    .area button, .formArea button {
        height: 10%;
        width: 45%;
    }
    footer a {
        font-size: .5rem;
    }
    .outcome p {
        font-size: .6rem;
    }
    .outcome .color p {
        font-size: 1.5rem;
    }
    .outcome .color .outcomeText {
        font-size: .6rem;
    }
    .top .motto {
        font-size: .9rem;
    }
    .bottom button {
        font-size: .6rem;
    }
}

@media (orientation: landscape) and (max-width: 1025px) {
    h2 {
        height: 15vh;
        padding-top: 0;
        padding-bottom: 10px;
        font-size: 3.3rem;
    }

    .area {
        height: 65vh;
        width: 80%;
        margin: 0 auto;
    }

    .area h1 {
        font-size: 1.9rem;
        padding-bottom: 10px;
    }

    .area p {
        font-size: 1.1rem;
        padding: 0 15px;
        text-align: center;
        line-height: 1.4rem;
    }

    .area input {
        margin: 20px 10px;
        height: 8%;
        width: 23%;
        font-size: .9rem;
     }

    .area button, .formArea button {
        height: 12%;
        border-radius: 15px;
        font-size: 1rem;
    }

    .area button:hover, .formArea button:hover {
        font-size: 1.5rem;
    }

    .formArea p {
        font-size: 1.1rem;
    }
    .formArea form input {
        height: 21%;
        margin-bottom: 7px;
    }
    .outcome p {
        font-size: 1rem;
        padding: 5px 10px 5px;
    }
    .outcome .color p {
        font-size: 2.5rem;
    }
    .outcome .color .outcomeText {
        font-size: 1.1rem;
        padding: 10px;
    }
    .top .motto {
        padding: 10px 5px;
        font-size: 1.4rem;
    }
    .bottom {
        flex-direction: row;
    }
    .bottom button {
        width: 45%;
        height: 78%;
        font-size: 1rem;
    }
    .bottom button:hover {
        font-size: 1.2rem;
    }

    footer {
        height: 12vh;
    }

    footer a {
        font-size: .6rem;
    }
}

@media (orientation: landscape) and (max-width: 850px) {
    h2 {
        font-size: 2.4rem;
    }

    .area {
        padding-bottom: 5px;
        height: 70vh;
    }

    .area h1 {
        font-size: 1.5rem;
    }

    .area p {
        padding: 5px;
        font-size: .9rem;
        line-height: 1.1rem;
    }

    .area input {
        height: 10%;
        width: 25%;
        font-size: .8rem;
        margin: 10px;
     }

    .area button, .formArea button {
        height: 11%;
        font-size: .8rem;
    }

    .area button:hover, .formArea button:hover {
        font-size: 1.3rem;
    }
    .formArea p {
        padding: 5px;
        line-height: 1.6;
        font-size: .8rem;
        margin-bottom: 10px;
    }
    .formArea form {
        padding: 0;
        margin: 10px 0;
    }
    .formArea form input {
        height: 17%;
        width: 13%;
        margin-bottom: 3px;
        font-size: .8rem;
        padding: 1px;
    }
    .formArea button {
        width: 40%;
        height: 16%;
        margin: 0;
        font-size: 1.2rem;
    }
    .formArea button:hover {
        font-size: 1.6rem;
    }
    .outcome p {
        font-size: .7rem;
        padding: 5px 10px 5px;
    }
    .outcome .color p {
        font-size: 1.9rem;
    }
    .outcome .color .outcomeText {
        font-size: .8rem;
        padding: 5px;
    }
    .top .motto {
        padding: 2px 5px;
        font-size: 1rem;
    }
    .bottom {
        flex-direction: row;
    }
    .bottom button {
        width: 45%;
        height: 78%;
        font-size: .8rem;
    }
    .bottom button:hover {
        font-size: .7rem;
    }
    footer {
        height: 8vh;
    }
}

@media (orientation: landscape) and (max-width: 750px) {
    h2 {
        font-size: 2.4rem;
        padding-top: 10px;
    }

    .area {
        height: 70vh;
        width: 90%;
    }

    .area h1 {
        font-size: 1.4rem;
        padding-bottom: 16px;
    }

    .area p {
        font-size: .8rem;
        line-height: 1rem;
        
    }

    .area input {
        margin: 10px 0 5px;
        font-size: .8rem;
        height: 12%;
        width: 25%;
     }

    .area button, .formArea button {
        font-size: .9rem;
        margin-top: 5px;
    }

    .area button:hover, .formArea button:hover {
        font-size: .9rem;
    }
    .formArea button {
        height: 18%;
    }
    .formArea button:hover {
        font-size: 1.4rem;
    }
    .outcome p {
        font-size: .7rem;
        padding: 5px 10px 5px;
    }
    .outcome .color p {
        font-size: 1.9rem;
    }
    .outcome .color .outcomeText {
        font-size: .8rem;
        padding: 5px;
    }
    .top .motto {
        padding: 2px 5px;
        font-size: 1rem;
    }
    .bottom {
        flex-direction: row;
    }
    .bottom button {
        width: 45%;
        height: 78%;
        font-size: .8rem;
    }
    .bottom button:hover {
        font-size: .7rem;
    }
    footer {
        height: 10vh;
    }
}

@media (orientation: landscape) and (max-width: 650px) {
    h2 {
        font-size: 2rem;
    }

    .area h1 {
        font-size: 1.1rem;
        padding-bottom: 12px;
    }

    .area p {
        font-size: .6rem;
        padding: 5px;
    }

    .area input {
        margin: 10px 0 5px;
     }

     .area button {
        height: 13%;
        margin-top: 2px;
        width: 26%;
    }

    .area button:hover {
        font-size: 1.1rem;
    }
    .formArea {
        margin: 5px auto; 
    }
    .formArea p {
        font-size: .6rem;
    }
    .formArea form input {
        height: 15%;
    }
    .formArea button:hover {
        font-size: 1rem;
    }
    .outcome p {
        font-size: .65rem;
        padding: 10px 10px 2px;
    }
    .outcome .color p {
        font-size: 1.5rem;
    }
    .outcome .color .outcomeText {
        font-size: .7rem;
    }
    .top .motto {
        font-size: .7rem;
    }
    .bottom button {
        font-size: .6rem;
    }
    .bottom button:hover {
        font-size: .7rem;
    }
    footer {
        height: 8vh;
    }
    footer a {
        font-size: .5rem;
    }
}

@media (orientation: landscape) and (max-width: 550px) {
    h2 {
        font-size: 1.7rem;
        padding: 7px 0;
    }
    .area h1 {
        font-size: .9rem;
        padding-bottom: 8px;
    }

    .area p {
        font-size: .5rem;
        margin-bottom: 0;
    }
    .area input {
        height: 11%;
        width: 25%;
        font-size: .6rem;
    }
    .area button {
        height: 12%;
    }
    .area button:hover {
        font-size: 1rem;
    }

    .formArea p {
        font-size: .6rem;
    }
    .formArea form {
        margin: 0;
    }
    .formArea form input {
        height: 13%;
        margin-bottom: 5px;
    }
    .formArea button {
        height: 14%;
    }
    .formArea button:hover {
        font-size: 1rem;
    }
    .outcome p {
        font-size: .6rem;
        padding: 10px;
    }
    .outcome .color p {
        font-size: 1.2rem;
    }
    .outcome .color .outcomeText {
        font-size: .6rem;
        padding: 5px;
    }
    .top .motto {
        padding: 2px 5px;
        font-size: .8rem;
    }
    .bottom {
        flex-direction: row;
    }
    .bottom button {
        width: 45%;
        height: 70%;
        font-size: .5rem;
    }
    .bottom button:hover {
        font-size: .6rem;
    }
    footer {
        height: 10vh;
    }
    footer a {
        font-size: .5rem;
    }
}

